@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	background-color: #121212;
	margin: 0 auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #f0f0f0;
	font-size: 70px;
}

a {
	text-decoration: none;
	color: #f0f0f0;
	font-weight: bold;
	font-size: 50px;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.style-shared {
	display: flex;
	background-color: #1d1d1d;
	align-self: center;
	padding: 4% 0% 0%;
	box-sizing: border-box;
	margin: 1%;
	border-radius: 35px;

	p {
		padding: 1% 0;
	}

	img {
		width: 85%;
		margin: 0;
		padding: 0;
	}
}
